{% load staticfiles %}

<link rel="stylesheet" type="text/css"
href="{{ STATIC_URL }}attendanceapp/style.css" />
<link rel="icon" type="image/ico" href="{{STATIC_URL}}attendanceapp/favicon.ico"/>
<html>
<head>

<title>Attendance App</title>

</head>

<body>

  <div id="page-wrap">
    <div id="header">
    </div>

    <form action="{% url 'scanCard' %}" method="post">
      {% csrf_token %}
      <input type="text" id="cardBox" name="studentID" autofocus pattern=".{8}"
      required title="8 Characters. ">
      <input type="submit" value="Log in/out">
    </form>

    {{ message }}

  </div>

</body>

</html>
