body{
    margin: 0;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, sans-serif;
}

/*
Set the font and set the margin
*/

html{

}

div.navbar{
    width:100%;
    height: 40px;
    background-color: #03572c;
}

p{
    display: inline;
}
/*
Display the p elements inline (for styling)
*/


p.innav{
    color:white;
    font-size: 30px;
    width: 30px;
    height: 30px;
    margin-left: 10px;
    margin-top: 10px;
}
p.rightIn{
    color:white;
    font-size: 30px;
    width: 30px;
    height: 30px;
    margin-left: 10px;
    margin-top: 10px;

}

p.rightIn,
p:nth-child(3)
{
    float: right;
    margin: 0px 5px;
    width: auto;
}

.rightIn:hover{
    text-decoration: underline;
    color: grey;
}
/*
create the hover style for the right aligned nav
*/



.HL{
    margin-left: 10px;
    color:white;
    font-size:24px;
}
/*
Style the navbar seperators
*/

div.statusBar{
    width: 100%;
    height: 400px;
    background-color: #A8A8A8;
    color:white;
}



.header{
    color: black;
    /*padding: 10px;*/
    font-size: 45px;

}
/*
Specify the header styling when it is the child of the status bar
*/

p.left{
    margin-top: 0px;
    /*background-color: red;*/
    height: 100%;
    width: 49%;
    float: left;
}

p.right{
     border-left-style: solid;
     border-color: black;
    margin-top: 0px;
    /*background-color: blue;*/
    height: 100%;
    width: 49%;
    float: left;
}


.feature{
    color: black;
    margin-left: 50px;
    font-size: 20px;
}


iframe{
    margin-left: 10px;
}
