body{
    margin: 0;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, sans-serif;
}
html{

}

div.navbar{
    width:100%;
    height: 30px;
    background-color: #03572c;
}

p{
    display: inline;
}

p.innav{
    color:white;
    font-size: 24px;
    width: 30px;
    height: 30px;
    margin-left: 10px;
    margin-top: 10px;
}

.innav:hover{
    text-decoration: underline;

    color: grey;
}

.HL{
    margin-left: 10px;
    color:white;
    font-size:24px;

}
