#page-wrap {
  width: 800px;
  margin: 10 auto;
  /* background-image: url(images/circuitBoard.png); */
  text-align: center;
}

#header {
  /* width: idk man */
  height: 500px
  border: 5px solid #73AD21
  text-align: center;
  /* background-image: url(images/roboticsHeader.jpg); */
}
